// First override some or all individual color variables
$primary: #25408f;
$secondary: #8f5325;
$success: #3e8d63;
$info: #13101c;
$warning: #945707;
$danger: #d62518;
$light: #f8f9fa;
$dark: #343a40;

// Then add them to your custom theme-colors map, together with any additional colors you might need
$theme-colors: (
	primary: $primary,
	secondary: $secondary,
	success: $success,
	info: $info,
	warning: $warning,
	danger: $danger,
	light: $light,
	dark: $dark,
	// add any additional color below
);

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';


.marquee {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	box-sizing: border-box;
  }
  
  .marquee span {
	display: inline-block;
	width: max-content;
  
	padding-left: 100%;
	/* show the marquee just outside the paragraph */
	will-change: transform;
	animation: marquee 15s linear infinite;
  }
  
  .marquee span:hover {
	animation-play-state: paused
  }
  
  
  @keyframes marquee {
	0% { transform: translate(0, 0); }
	100% { transform: translate(-100%, 0); }
  }
  
  
  /* Respect user preferences about animations */
  
  @media (prefers-reduced-motion: reduce) {
	.marquee span {
	  animation-iteration-count: 1;
	  animation-duration: 0.01; 
	  /* instead of animation: none, so an animationend event is 
	   * still available, if previously attached.
	   */
	  width: auto;
	  padding-left: 0;
	}
  }
